@import 'vars';

header {
  position: relative;
  padding: 18px;
  a{
    &:link,&:visited{
      color: $g_color_link;
      text-decoration: none;
    }
    &:hover{
      text-decoration: underline;
    }
  }
}
.header-logo {
  margin: 0;
  padding: 0;
  position: absolute;
}
.header-nav {
  padding-left: 48px;
}
.header-nav-item{
  font-family: "Avenir Next",Futura,"Century Gothic",sans-serif;
  font-weight: bold;
  font-size: 12px;
  display: inline-block;
}
