body, td { font-size: 100%; font-family: sans-serif; }

body, div, section, ul, ol { margin: 0; padding: 0; }

body { background: #FBFBFA; line-height: 1.7; }

header { position: relative; }
header a:link, header a:visited { color: #000; text-decoration: none; }
header a:hover { text-decoration: underline; }

.header-logo { margin: 0; padding: 0; }

.header-nav { position: absolute; left: 100px; top: 130px; width: 100px; }

.header-nav-item { font-family: "Roboto", sans-serif; font-weight: 400; font-size: 18px; list-style-type: none; line-height: 1; margin-bottom: 10px; }

.main { width: 100%; max-width: 512px; position: absolute; left: 230px; top: 130px; }

.main-content p { margin: 0 0 1.2em; padding: 0; }
.main-content ul, .main-content ol { margin-left: 2em; }

.main-content-en { font-family: "Roboto", sans-serif; }

.main-content-note { font-size: 12px; }

.main-h { margin: 0 0 1.5em; padding: 0; font-family: "Roboto", sans-serif; font-size: 26px; line-height: 1; }

.release-item { list-style-type: none; margin-bottom: 20px; }

.release-item-h { font-family: "Roboto", sans-serif; font-size: 20px; margin: 0; padding: 0 0 10px; }

.release-no { background: #444; color: #FBFBFA; font-size: 12px; padding: 4px; vertical-align: middle; }

footer { font-size: 11px; font-family: "Roboto", sans-serif; padding: 18px 0; }
