body, td { font-size: 100%; font-family: sans-serif; }

body, div, section, ul, ol { margin: 0; padding: 0; }

body { background: #FBFBFA; }

header { position: relative; padding: 18px; }
header a:link, header a:visited { color: #000; text-decoration: none; }
header a:hover { text-decoration: underline; }

.header-logo { margin: 0; padding: 0; position: absolute; }

.header-nav { padding-left: 48px; }

.header-nav-item { font-family: "Avenir Next",Futura,"Century Gothic",sans-serif; font-weight: bold; font-size: 12px; display: inline-block; }

.main { font-size: 13px; color: #444; width: 600px; padding: 5px 0; }

.main-h { font-size: 32px; color: #799086; text-shadow: 1px 1px 0 #FFF; }

.main-release-item { padding: 0 0 24px 18px; }

footer { font-size: 11px; font-family: "Avenir Next", Futura, "Century Gothic", sans-serif; padding: 18px; }
