{% extends 'base.html' %}
{% block main %}
<article class="main-about">

<h1 class="main-h">about</h1>

<section class="main-content main-content-ja main-content-about main-content-about-ja">

<p>
limbicは、音楽、言葉、映像などを扱うコンテンツレーベルです。
</p>

<p>
「limbic」は「辺縁」を意味します。
</p>

<p>
新しい、価値ある何かを産み出そうと本気になったなら、人はきっと「辺縁」に辿り着くことになります。<br>
まだ誰も到達していない、未だ見ぬ価値あるもの。<br>
それは王道・メインストリームにはありません。<br>
王道は、辺縁を開拓する者が切り開いた後にできる道です。<br>
探求する者は常に辺縁にあり、辺縁に生き、辺縁で道を切り開く。
</p>

<p>
それはとても孤独な場所かもしれない。<br>
ひどく荒涼とした、とても厳しい場所かもしれない。<br>
しかし本気で考え貫いた先に、その場所に辿り着くならば、<br>
それはなんと素晴らしいことなのだろう、と思います。
</p>

<p>
よりよいものを探求した結果辿り着く「辺縁」。<br>
それを求め続けること。ずっと悪あがきし続けること。<br>
それを「limbic」に課したいと考えます。
</p>

<p>akayaka<p>

</section>

</article>
{% endblock %}
