<!DOCTYPE HTML>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>limbic</title>
<meta name="Author" content="limbic" />
<meta name="Keywords" content="limbic" />
<meta name="Description" content="limbic" />
<link rel="home" href="http://limbic.cc/" />
<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<script src="/static/js/limbic.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>

<body>
<header>
<figure class="header-logo">
<a href="/"><img src="/assets/img/logo.svg" /></a>
</figure>
<nav class="header-nav">
<ul>
<li class="header-nav-item"><a href="/">releases</a></li>
<li class="header-nav-item"><a href="/about/">about</a></li>
<li class="header-nav-item"><a href="/license/">license</a></li>
</ul>
</nav>
</header>

<section class="main">
{% block main %}{% endblock %}




<footer>
  <section id="copyright">
    <p>copyright &copy; 2012- limbic</p>
  </section>
</footer>

</section>


</body>
</html>
