<!DOCTYPE HTML>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>limbic</title>
<meta name="Author" content="limbic" />
<meta name="Keywords" content="limbic" />
<meta name="Description" content="limbic" />
<link rel="home" href="http://limbic.cc/" />
<link rel="alternate" type="application/rss+xml" title="RSS" href="" />
<script src="/static/js/limbic.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>

<body>
<header>
<figure class="header-logo">
<a href="/"><img src="/assets/img/logo.svg" width="32" height="32" /></a>
</figure>
<nav class="header-nav">
<ul>
<li class="header-nav-item"><a href="/">home</a></li>
<li class="header-nav-item"><a href="/license/">license</a></li>
<li class="header-nav-item"><a href="/about/">about</a></li>
</ul>
</nav>
</header>

<section class="main">
{% block main %}{% endblock %}
</section>

<footer>
<section id="copyright">copyright &copy; 2012- limbic</section>
</footer>

</body>
</html>
