{% extends "base.html" %}
{% block main %}
<article class="release">
<h1>Releases</h1>
<ol>
<li>
<h2>0003 - "movement.0" by akayaka</h2>
<div class="content bc">
<iframe width="400" height="100" style="position: relative; display: block; width: 400px; height: 100px;" src="http://bandcamp.com/EmbeddedPlayer/v=2/album=2611374227/size=venti/bgcol=FFFFFF/linkcol=4285BB/" allowtransparency="true" frameborder="0"><a href="http://akayaka.bandcamp.com/album/movement-0">movement.0 by akayaka</a></iframe>
</div>
</li>
<li>
<h2>0002 - "imagery.0" by akayaka</h2>
<div class="content bc">
<iframe width="400" height="100" style="position: relative; display: block; width: 400px; height: 100px;" src="http://bandcamp.com/EmbeddedPlayer/v=2/album=3847804579/size=venti/bgcol=FFFFFF/linkcol=4285BB/" allowtransparency="true" frameborder="0"><a href="http://akayaka.bandcamp.com/album/imagery-0">imagery.0 by akayaka</a></iframe>
</div>
</li>
<li>
<h2>0001 - "common" by akayaka</h2>
<div class="content bc">
<iframe width="400" height="100" style="position: relative; display: block; width: 400px; height: 100px;" src="http://bandcamp.com/EmbeddedPlayer/v=2/album=1703365937/size=venti/bgcol=FFFFFF/linkcol=4285BB/transparent=true/" allowtransparency="true" frameborder="0"><a href="http://akayaka.bandcamp.com/album/common">common by akayaka</a></iframe>
</div>
</li>
</ol>
</div>
</article>
{% endblock %}
