{% extends 'base.html' %}
{% block main %}
<article class="main-license">

<h1>Limbic license 0.1 ( α )</h1>

<section class="main-content-ja main-license-ja">

<p>
Limbic licenseの下に公開された作品（以下「作品」）は、以下の条件に従う限り、その二次利用について、商用非商用を問わず、利用内容、利用方法を問わず無償で許諾します。
</p>

<h2>使用条件</h2>
<ul>
<li>作品の著作権等の権利は作者が留保します。権利を譲渡するものではありません。</li>
<li>作者の名前を偽って利用や公開などをしてはいけません。</li>
<li>二次利用によって生じたいかなる損害、請求などについて、作者は一切の責任を負わないものとします。</li>
<li>二次利用のしかた、結果、コンセプト等について、作者は公の場で何を言ってもよいものとし、作者の発言・態度等により二次利用者が被害、損害等を受けたとしても作者は一切の責任を負うことはないものとします。</li>
</ul>

</section>

<section class="main-content-en main-license-en">

</section>


</article>
{% endblock %}
